---
layout: post
title: "Counter Pressure Bottle Filler Test Run" 
date:   2016-08-01
categories: [beer]
---
![](/static/img/beer/cpbf1.JPG){: width="300px"}
![](/static/img/beer/cpbf2.JPG){: width="300px"}

